{{ partial "header.html" . }}

<div id="container">
    <div class="container">
       <article class="post-container">
          <header class="post-header">
             <h1 class="post-title">Slack</h1>
          </header>
          <div class="post-content clearfix">
             <p>We’re a group of friendly folks in the NI Tech Community that hang out at <a href="nitech.slack.com">nitech.slack.com</a>.</p>
             <h3 id="come-join-us">Come Join Us</h3>
             <p>We are always interested in new members joining. There are no requirements, other than being a real person, and ideally, interested in tech. We have many channels devoted to multiple subjects, from design and development of tech to conferences and diversity. We are building a sustainable, diverse community of people who are interested in growing their skills, experience, community, and industry.</p>
             <p>To request an invite, contact a member of the community and request an invitation. If you are unsure of who you can reach out to, feel free to contact <a href="https://twitter.com/@apoclyps">@apoclyps</a>.</p>
             <h3 id="creating-a-safe-space">Creating a safe space</h3>
             <p>We want this to be a fun, pleasant, and harassment-free experience for everyone, so please do have a read of our <a href="http://localhost:1313/page/code_of_conduct/">Code of Conduct</a>.</p>
          </div>
       </article>
    </div>
 </div>

{{ partial "footer.html" . }}
